[submodule "gnupg"]
	path = gnupg
	url = git://git.gnupg.org/gnupg.git
[submodule "deps/libgpg-error"]
	path = deps/libgpg-error
	url = git://git.gnupg.org/libgpg-error.git
[submodule "deps/libgcrypt"]
	path = deps/libgcrypt
	url = git://git.gnupg.org/libgcrypt.git
[submodule "deps/libassuan"]
	path = deps/libassuan
	url = git://git.gnupg.org/libassuan.git
[submodule "deps/libksba"]
	path = deps/libksba
	url = git://git.gnupg.org/libksba.git
[submodule "deps/npth"]
	path = deps/npth
	url = git://git.gnupg.org/npth.git
[submodule "deps/pinentry"]
	path = deps/pinentry
	url = git://git.gnupg.org/pinentry.git
